/*Google fonts Pacifico and Work Sans */

@import url(https://fonts.googleapis.com/css?family=Pacifico|Work+Sans:400,600);

/* General Styles */

body {
  background-color: #ecf0f1;
  color: black;
  font-family: 'Work Sans';
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h3, nav li {
  font-weight: 600;
}