/* Header Navigation Elements */

header nav {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.36);
  background-color:  rgba(255, 235, 59, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 0 25px;
}

header nav a {
  color: #212121;
  text-decoration: none;
}

header nav li {
  padding: 23px 18px 20px;
}

header nav li:hover {
  background-color: rgba(255, 241, 112, 1);
  border-bottom: 3px solid #00E676;
  padding-bottom: 18px;
  cursor: pointer;
}

/* Nav Bar Logo */

.logoTxt {
  composes: logo from '../common/logo.css';
}

header nav .logoTxt {
  padding: 17px 18px 18px 0;
}

header nav .logoTxt:hover  {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  padding-bottom: 18px
}