.spinner {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  margin-top: 60px;
  margin-bottom: 0px;
}

svg path {
  fill: #00dffc;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}